@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../abstract/utils' as *;

.page_wrapper {
    //the following code is to display the app as fully centered
    @include respond_to(min, m_screen) {
        display: grid;
        place-items: center;

        background-color: $background_color_slate--100;

        min-block-size: 100vh;
    }
}

.mortgage_repayment {
    @extend %flex_column;

    overflow: hidden;

    @include respond_to(min, m_screen) {
        background-color: $background_color_white;

        border-radius: $radius_pill_md;

        max-inline-size: $inlinesize_layout_md;
    }


    @include respond_to(min, l_screen) {
        flex-direction: row;

        max-inline-size: $inlinesize_layout_lg;
    }


    &__calculator {
        @extend %flex_column;
        gap: $gap_block_control_xlg;

        inline-size: 100%;

        padding: $padding_block_component_md $padding_inline_component_md;

        @include respond_to(min, m_screen) {
            gap: $gap_block_control_xxlg;

            padding: $padding_full_component_lg;
        }


        @include respond_to(min, l_screen) {
            max-inline-size: $inlinesize_layout_xlg;
        }
    }
    

    &__title {
        @extend %flex_column;
        gap: $gap_block_control_sm;

        @include respond_to(min, m_screen) {
            flex-direction: row;
            justify-content: space-between;
        }
    }


    &__result {
        background-color: $background_color_slate--900;

        inline-size: 100%;

        padding: $padding_block_component_md $padding_inline_component_md;

        @include respond_to(min, m_screen) {
            padding: $padding_full_component_lg;
        }

        @include respond_to(min, l_screen) {
            border-bottom-left-radius: $radius_pill_xxlg;

            place-content: center;
        }
    }


    &__container {
        @extend %flex_column;
        align-items: center;
        gap: $gap_block_control_lg;

        text-align: center;

        & > p {
            max-inline-size: 45ch; //char limitation just to match design
        }
    }


    &__icon {
        align-self: center;

        inline-size: 192px;
        block-size: 192px;
    }
}

.form {
    display: grid;
    gap: $gap_block_control_xlg;

    @include respond_to(min, m_screen) {
        grid-template-columns: repeat(2, 1fr);

        & div:first-child,
        & div:nth-last-child(2),
        & button:last-child {
            grid-column: span 2 / span 2;
        }
    }

    &__radio {
        @extend %flex_column;
        gap: $gap_block_control_md;
    }
}