@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.input_number {
    outline: 1px solid $border_slate--500;

    border-radius: $radius_pill_xs;

    display: flex;

    inline-size: 100%;

    overflow: hidden;

    &:hover,
    &:has(:focus-visible) {
        outline-color: $border_slate--900;
    }


    &:has(:required:valid) {
        outline-color: $border_lime;

        .input_number__prefix--bg_lime {
            background-color: $background_color_lime;

            color: $slate--900;
        }
    }


    &--error {
        outline-color: $border_red;
    }


    &__prefix {
        background-color: $background_color_slate--100;

        display: inline-block;

        padding: $padding_block_control_md--plus_half $padding_inline_control_lg;

        &--error {
            background-color: $background_color_red;

            color: $white;
        }
        
    }


    &__input {
        cursor: pointer;

        inline-size: 100%;

        text-indent: $margin_inlinestart_component_lg;
    }
}

.label__text {
    display: inline-block;
    
    margin-block-end: $margin_blockend_component_md;
}