%flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex_column {
    display: flex;
    flex-direction: column;
}

.text_capitalize {
    text-transform: capitalize;
}

.text_underline {
    text-decoration: underline;
}

.flex_order_right {
    order: 2;
}