@use './variables.scss' as *;

//Flex classes
%flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex_column {
    display: flex;
    flex-direction: column;
}

.flex_order_right {
    order: 2;
}

.hidden {
    display: none;
}


//Text classes
.text_capitalize {
    text-transform: capitalize;
}

.text_underline {
    text-decoration: underline;
}

.text_center {
    text-align: center;
}

.text_slate--900 {
    color: $slate--900;
}

.text_slate--700 {
    color: $slate--700;
}

.text_slate--300 {
    color: $slate--300;
}

.text_lime {
    color: $lime;
}

.text_white {
    color: $white;
}

.text_red {
    color: $red;
}