@use "./functions" as *;
@use "sass:map";

//==========================================================
//  PRIMITIVES
//==========================================================

//COLORS
$black: hsla(0, 0%, 0%, 0.25);
$lime: hsl(61deg, 70%, 52%);
$slate--100: hsl(202deg, 86%, 94%);
$slate--300: hsl(203deg, 41%, 72%);
$slate--opaque: hsla(203, 41%, 72%, 0.25);
$slate--500: hsl(200deg, 26%, 54%);
$slate--700: hsl(200deg, 24%, 40%);
$slate--900: hsl(202deg, 55%, 16%);
$red: hsl(4deg, 69%, 50%);
$white: hsl(0deg, 0%, 100%);

//SPACING
$spacing: (
  8: to_rem(8),
  12: to_rem(12),
  16: to_rem(16),
  24: to_rem(24),
  32: to_rem(32),
  40: to_rem(40),
);

$special_spacing: (
  1: to_rem(1),
  2: to_rem(2),
  4: to_rem(4),
  5: to_rem(5),
);


//==========================================================
//  DESIGN TOKENS
//==========================================================

/* TOKEN TAXONOMY
* $spacetype_direction_scale_size
* spacetype: spacing such as margin, padding, container, inlinesize, or blocksize;
* direction: inline or block;
* scale: control (atoms), component (molecules), section (organisms), layout (pages);
* size: xs, sm, md, lg, xl;
*/

//COLORS
$background_color_black: $black;
$background_color_lime: $lime;
$background_color_slate--900: $slate--900;
$background_color_slate--500: $slate--500;
$background_color_slate--100: $slate--100;
$background_color_red: $red;
$background_color_white: $white;

$border_slate--900: $slate--900;
$border_slate--700: $slate--700;
$border_slate--500: $slate--500;
$border_slate--opaque: $slate--opaque;
$border_lime: $lime;
$border_red: $red;

//SPACING
//Gap
$gap_inline_control_sm: map.get($spacing, 8);
$gap_inline_control_md: map.get($spacing, 12);
$gap_inline_control_lg: map.get($spacing, 16);
$gap_inline_control_xlg: map.get($spacing, 24);
$gap_block_control_sm: map.get($spacing, 8);
$gap_block_control_md: map.get($spacing, 12);
$gap_block_control_lg: map.get($spacing, 16);
$gap_block_control_xlg: map.get($spacing, 24);
$gap_block_control_xxlg: map.get($spacing, 32);
$gap_block_control_xxxlg: map.get($spacing, 40);

//Padding & margin
$padding_full_component_md: map.get($spacing, 32);
$padding_full_component_lg: map.get($spacing, 40);
$padding_block_control_md: map.get($spacing, 12);
$padding_block_control_md--plus_half: calc(map.get($spacing, 12) + map.get($special_spacing, 1) / 2);
$padding_block_control_lg: map.get($spacing, 16);
$padding_block_control_xlg: map.get($spacing, 24);
$padding_block_component_md: map.get($spacing, 32);
$padding_block_component_lg: map.get($spacing, 40);
// $padding_block_control_md: map.get($spacing, 16);
// $padding_block_control_lg: map.get($spacing, 24);
// $padding_block_layout_sm: map.get($spacing, 24);
$padding_block_layout_md: map.get($spacing, 32);
$padding_block_layout_lg: map.get($spacing, 40);
// $padding_block_layout_lg: map.get($spacing, 88);
// $padding_inline_control_sm: map.get($spacing, 8);
$padding_inline_control_lg: map.get($spacing, 16);
$padding_inline_component_md: map.get($spacing, 24);

$margin_inlinestart_component_lg: map.get($spacing, 16);
$margin_inlineend_component_md: map.get($spacing, 12);

// $margin_block_component_xs: map.get($spacing, 16);
$margin_blockstart_control_sm: map.get($spacing, 12);
$margin_blockstart_control_md: map.get($spacing, 16);
// $margin_block_component_md: calc(map.get($spacing, 32) + map.get($spacing, 4) + map.get($special_spacing, 2));

$margin_blockend_component_sm: map.get($spacing, 8);
$margin_blockend_component_md: map.get($spacing, 12);
$margin_blockend_component_lg: map.get($spacing, 16);
$margin_blockend_component_xxlg: map.get($spacing, 40);
$margin_blockstart_component_lg: map.get($spacing, 16);
// $margin_blockend_component_md: map.get($spacing, 24);
// $margin_blockend_component_lg: map.get($spacing, 32);


//Inline/Block size
$inlinesize_control_sm: calc(map.get($spacing, 40) * 8 - map.get($special_spacing, 4) - map.get($special_spacing, 2));
$inlinesize_layout_md: 89.58%;
$inlinesize_layout_lg: 70%;
$inlinesize_layout_xlg: 50%;
// $blocksize_control_button: calc(map.get($spacing, 40) + map.get($spacing, 4));
// $blocksize_control_sm: calc(map.get($spacing, 40) * 5 + map.get($spacing, 12));
// $blocksize_control_lg: calc(map.get($spacing, 40) * 5 + map.get($spacing, 40));

//Container
// $container_inline_layout_xs: 41.11%;
$container_inline_layout_sm: 84.12%;
$container_inline_layout_md: 87.2%;
$container_inline_layout_lg: 88.37%;

//Radius
$radius_pill_xs: to_rem(4);
$radius_pill_sm: to_rem(8);
$radius_pill_md: to_rem(24);
$radius_pill_lg: to_rem(32);
$radius_pill_xxlg: to_rem(80);